/*Anuncio*/
.anuncio-container{

   display: flex;
   align-items: center;
   justify-content: center;
   padding: 12px 5px;
}
.anuncio{
    width: 280px;
    height: 500px;
    border: 2px solid blue;
}