<section class="section-1">
    <div class="info">
        <h1>JHAMPO</h1>
        <h3 class="text-animation"><span id="typed-text"></span>jhampo</h3>
        <p class="description">¡Bienvenido a <strong>jhampo Web</strong>! Aquí encontrarás una amplia variedad de proyectos y <em>tutoriales de programación</em> diseñados para ayudarte a mejorar tus habilidades y desarrollar tu lógica.</p>
        <div class="redes">
            <div class="svg-icon">
                <img src="assets/redes/youtube.svg" alt="">
            </div>
            <div class="svg-icon">
                <img class="icons-changes" src="assets/redes/github.svg" alt="">
            </div>
            <div class="svg-icon">
                <img src="assets/redes/instagram.svg" alt="">
            </div>
            <div class="svg-icon">
                <img class="icons-changes" src="assets/redes/tik-tok.svg" alt="">
            </div>
           

        </div>
    </div>
    <figure class="image">
        <img src="assets/logo/jhampo.png" alt="Logo de JHAMPO">
    </figure>
    
</section>
