<header>
    <img class="img-title" src="{{content?.srcImg}}" alt="csharp">
    <div class="title">
        <!-- <h1><em>Crea tu Primer Juego</em> DESDE 0 en <strong>C#</strong></h1>    -->
         <h1>{{content?.title}}</h1>
         <div class="redes">
            <aside class="yt" (click)="btnYoutube()">
                <img class="icon" src="assets/redes/yotube-white.svg" alt="">
                <span>Video</span>
             </aside>
         
         </div>
        
       
       
        
    </div>

</header>
