header{
    display: flex;
    gap: 1rem;
    margin-bottom: 30px;
    position: relative;
;
}
.img-title{
    width: 5.2rem ;
}
.title{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
h1{
    color: var(--cero-text-color);
}
.redes{
    display: flex;
    gap: 15px;
}
aside{
    background-color:#1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 16px;
    gap: 7px;
    border-radius: 8px;
}
aside span{
    font-weight: 500;
    font-size: 16px;
    color: #E5E5E6;
}
.icon{
    width: 1.3rem;
  
}


.img-title{
    display: non;
    position: absolute;
    right: 0;
    width: 10rem;
    z-index: -2;
    opacity: 0.2;
    top: -25px;
}

@keyframes rotate45 {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-20deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
@media (max-width: 930px) {
    .img-title{
        display: non;
        position: absolute;
        right: 0;
        width: 10rem;
        z-index: -2;
        opacity: 0.2;
        top: -25px;
    }
}