<div class="container">
   
    <app-sidebar-tutorial class="sidebar" [items]="items"/>
    <article>
        <app-title-tutorial />
        <main>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum vitae sequi esse. Ipsam pariatur nesciunt dolorum ut dolor facere modi! Corrupti, est libero! Adipisci delectus deleniti doloremque fugit ratione repellendus.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum vitae sequi esse. Ipsam pariatur nesciunt dolorum ut dolor facere modi! Corrupti, est libero! Adipisci delectus deleniti doloremque fugit ratione repellendus.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum vitae sequi esse. Ipsam pariatur nesciunt dolorum ut dolor facere modi! Corrupti, est libero! Adipisci delectus deleniti doloremque fugit ratione repellendus.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum vitae sequi esse. Ipsam pariatur nesciunt dolorum ut dolor facere modi! Corrupti, est libero! Adipisci delectus deleniti doloremque fugit ratione repellendus.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum vitae sequi esse. Ipsam pariatur nesciunt dolorum ut dolor facere modi! Corrupti, est libero! Adipisci delectus deleniti doloremque fugit ratione repellendus.</p>
            <app-codigo-design-1 [codeSnippet]="codeSnippet" [language]="language"/>
        </main>
        <footer>
            no te olivdes la fecha de publucaicony tambien ver el etxto que se mostrara en los reusltdos de bsuqueda
        </footer>
    </article>
    <app-anuncio-vertical class="anuncio-right" />
</div>
