/*En comun*/
.container{
    width: 100vw;
    display: flex;
    justify-content: center;
    border: solid red;
    position: relative;
}

/*Articulo*/
article
{
    width: 800px;
    padding: 30px 15px;
    border: 2px solid green;
    
}
/*1240*/

@media (max-width: 1300px) {
    .anuncio-right{
        display: none;
        border: 2px solid green;
    }
}
@media (max-width: 1165px) {
    article{

        width: 100%;
    }
}
@media (max-width: 750px) {
    .sidebar{
        display: none;
    }
}