<div class="container">
    <div class="anuncio">
        <app-anuncio-vertical/> 
    </div>
    <app-sidebar-tutorial class="sidebar" [items]="items"/>
    <article>
        <app-title-tutorial [content]="titile"/>
        <main>
            <h2>Creación del Proyecto</h2>
            <app-section-tutorial [content]="part1"/>
            <app-section-tutorial-code [content]="part2"/>
            <app-section-tutorial [content]="part3"/>
            <app-section-tutorial [content]="part4"/>
            <app-section-tutorial-code [content]="part5"/>
        </main>
        <footer>
            no te olivdes la fecha de publucaicony tambien ver el etxto que se mostrara en los reusltdos de bsuqueda
        </footer>
    </article>
    <div class="anuncio">
        <app-anuncio-vertical/> 
    </div>
   
</div>
